{% extends "base.html" %}
{% load solo_tags %}

{% block content %}
<div class="page-header">
  <h1>You’re invited!</h1>
</div>

{% get_solo 'wedding.SiteConfiguration' as site_config %}

<div>
  <p>We are getting married, and we want you, <strong>{{ group.display_name }}</strong>,
    to join us! We’ll be using this website to help you arrange travel and lodging. Below
    is a form for you to let us know the best way to contact you.</p>
  <p>If you want to get in touch directly, you can email us at
    <a href="mailto:{{ site_config.mailouts_from_email }}">{{ site_config.mailouts_from_email }}</a>.</p>
{% comment %}
<form method="post">
  {% csrf_token %}
    {{ person_formset.as_p }}

  <!-- {% if group.person_set.all.count == 1 %}
    {% for person in group.person_set.all %}
      
    {% endfor %}
  {% elif group.person_set.all.count > 0 %}
    <h3>People in your group:</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Diretary restrictions</th>
          <th>RSVP</th>
        </tr>
      </thead>
      {% for person in group.person_set.all %}
        <tr>
          <td><input type="text" value="{{ person.name }}"></td>
          <td><input type="email" value="{{ person.email }}"></td>
          <td><input type="text" value="{{ person.dietary_restrictions }}"></td>
          <td><input type="text" value="{{ person.rsvp_status }}"></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %} -->
</form>
{% endcomment %}
</div>

<div>
  <h2>Contact information</h2>
  <p>Please let us know how best to reach you, so we can keep you up-to-date on
    wedding plans. If everything looks okay, you don't have to re-save your
    details.</p>
  <div class="flex-form">
  <form method="post">
    {% csrf_token %}
    {{ gorup_form.non_field_errors }}
    {% for field in group_form %}
      {{ field.errors }}
    {% endfor %}

    {% for field in group_form %}
      <p>
        <label for="{{ field.id_for_label }}"{% if field.errors %} class="error"{% endif %}>{{ field.label }}</label>
        {{ field }}
      </p>
    {% endfor %}
    <p><button type="submit">Save details</button></p>
  </form>
  </div>
</div>
{% comment %}
<div>
  <h2>Summary of events</h2>
  <p>
    <a href="/details" title="Where + When">
      <i class="fas fa-xs fa-fw fa-calendar"></i>&nbsp;Full details
    </a>
  </p>

  <dl id="events">
    {% for event in group.events.all %}
    <dt>{{ event.name }}</dt>
    <dd>{{ event.date_time }}<br/>
      {{ event.venue }}<br/>
      {{ event.address }}
    </dd>
    {% endfor %}
  </dl>
</div>
{% endcomment %}
{% endblock content %}
