{% extends "base.html" %}
{% load solo_tags %}

{% block html_head %}
<style>
textarea {
  height: 2.6em;
}
form td {
  vertical-align: top;
}
td {
  font-family: "Prata", serif;
}

@media only screen and (max-width: 768px) {
    input, select, textarea {
      width: 12em;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 1.6ex;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border-bottom: 1px solid #ccc;
    }

    tr:last-of-type {
      border-bottom: none;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 10em !important;
        min-height: 2.3em;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 7em;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    {% for field in person_formset.0 %}
    {% if not field.is_hidden %}
    td:nth-of-type({{ forloop.counter }}):before { content: "{{ field.label }}"; }
    {% endif %}
    {% endfor %}
}
</style>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>You’re invited!</h1>
</div>

{% get_solo 'wedding.SiteConfiguration' as site_config %}

<div>
  <p>We are getting married, and we want you, <strong>{{ group.display_name }}</strong>,
    to join us! We’ll be using this website to help you arrange travel and lodging. Below
    is a form for you to let us know the best way to contact you.</p>
  <p>If you want to get in touch directly, you can email us at
    <a href="mailto:{{ site_config.mailouts_from_email }}">{{ site_config.mailouts_from_email }}</a>.</p>
</div>
<form method="post">
{% csrf_token %}
{{ person_formset.management_form }}

<div>
  <h2>Contact information</h2>
  <p>Please let us know how best to reach you, so we can keep you up-to-date on
    wedding plans. If everything looks okay, you don't have to re-save your
    details.</p>
  <div class="flex-form">
    {% if group.person_set.all.count == 1 %}
    {{ person_formset.non_field_errors }}
    {% endif %}
    {{ group_form.non_field_errors }}

    {% if group.person_set.all.count == 1 %}
    {% for person_form in person_formset %}{# there's only one #}
    {% for field in person_form %}
      {% if not field.is_hidden %}
      <p>
        <label for="{{ field.id_for_label }}"{% if field.errors %} class="error"{% endif %}>{{ field.label }}</label>
      {% endif %}
        {{ field }}
      {% if not field.is_hidden %}
      </p>
      {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}

    {% for field in group_form %}
      {{ field.errors }}
    {% endfor %}

    {% for field in group_form %}
      <p>
        <label for="{{ field.id_for_label }}"{% if field.errors %} class="error"{% endif %}>{{ field.label }}</label>
        {{ field }}
      </p>
    {% endfor %}
   </div>
</div>

{% if group.person_set.all.count > 1 %}
<div>
  <h2>People attending</h2>
  {{ person_formset.non_field_errors }}
  <table>
  {% for person_form in person_formset %}
    {% if forloop.first %}
    <thead>
      <tr>
      {% for field in person_form %}
      {% if not field.is_hidden %}
        <th>{{ field.label }}</th>
      {% endif %}
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% endif %}
      <tr>
      {% for field in person_form %}
        {% if not field.is_hidden %}<td{% if field.errors %} class="error"{% endif %}>{% endif %}
        {{ field }}
        {% if not field.is_hidden %}</td>{% endif %}
      {% endfor %}
      </tr>
    {% if forloop.last %}
    </tbody>
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endif %}

<p><button type="submit">Save details</button></p>
</form>
{% endblock content %}
