{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1>
    <span class="replace-on-hover" data-replacement-text="Curls" data-original-text="Michelle"></span>
      +
    <span class="replace-on-hover" data-replacement-text="Beard" data-original-text="Michael"></span>
  </h1>

  <p><img src="{% static "curlsandbeard.jpg" %}" alt="" role="presentation"></p>

  <p>Enter your code to confirm your contact details, RSVP, and get more information about the events, travel, and lodging.</p>

  <form method="GET" class="auth-form">
    {{ auth_form.as_p }}
    <p>
      <button type="submit">Continue <i class="fas fa-chevron-circle-right"></i></button>
    </p>
  </form>
{% endblock %}
