{% extends "base.html" %}
{% block html_head %}
<style>
select[multiple] {
  height: 20em;
}
iframe {
  width: 100%;
  max-width: 60em;
  background: #ffffff;
  height: 50ex;
  border: none;
}
dl {
  display: flex;
  flex-flow: row wrap;
}
dt {
  font-weight: bold;
  width: 10em;
  margin: 0.5ex 0;
}
dd {
  width: calc(100% - 10em);
  margin: 0.5ex 0;
}
</style>
{% endblock %}
{% block content %}
  <h1>Send mail to attendees</h1>
  <h2>{{ mailout.name }} <small>[<a href="{% url 'admin:wedding_mailout_change' mailout.pk %}">edit</a>]</small></h2>
  {% if mailout_form %}
  <div class="flex-form">
    <form method="post" class="form">
      {% csrf_token %}
      {{ mailout_form.as_p }}
        <button type="submit">
          Submit
        </button>
    </form>
  </div>
  {% endif %}

  {% if mailouts %}
    <h3>Message previews</h3>
    {% for message in mailouts %}
      <dl>
        <dt>From</dt><dd>{{ message.from_ }}</dd>
        <dt>To</dt><dd>"{{ message.recipient.name }}" &lt;{{ message.recipient.email }}&gt;</dd>
        <dt>Bcc</dt>
        <dd>
          {% for bcc in message.bcc %}
            {{ bcc }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </dd>
        <dt>Subject</dt><dd>{{ message.subject }}</dd>
        <dt>Body</dt><dd>
            <iframe srcdoc="{{ message.html_body|force_escape }}"></iframe>
        </dd>
      </dl>
      {% if not forloop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}
