{% extends "base.html" %}
{% load static compress %}
{% block html_head %}
<style>
.row {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
}
</style>
{% endblock html_head %}
{% block content %}
<h1>{{ event.name }}</h1>

<div class="row header">
  <p>Who</p>
  <p>Email</p>
  <p>Invited to</p>
</div>

{% for person in object_list %}
<div class="row" id="row-{{ forloop.counter }}">
  <p class="td" data-header="Who"><a href="{% url 'admin:wedding_person_change' person.pk %}">{{ person }}</a></p>
  <p class="td" data-header="Email">{{ person.email|default:"" }}</p>
  <p class="td" data-header="Invited to">{{ person.group.events.all|join:", " }}</p>
</div>
{% endfor %}


{% endblock content %}
