{% extends "base.html" %}
{% load static compress %}
{% block html_head %}
<style>
.row {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}
</style>
{% endblock html_head %}
{% block content %}
<h1>{{ event.name }}</h1>

<div class="row header">
  <p>Who</p>
  <p>People</p>
  <p>Address</p>
</div>

{% for group in object_list %}
<div class="row" id="row-{{ forloop.counter }}">
  <p class="td" data-header="Who"><a href="{% url 'admin:wedding_group_change' group.pk %}">{{ group }}</a></p>
  <p class="td" data-header="People">{{ group.person_set.count }}</p>
  <p class="td" data-header="Address">{{ group.address|default:"&nbsp;" }}</p>
</div>
{% endfor %}


{% endblock content %}
