$primary-color: #333;
$error-color: #ff0000;

$accent-color: rgba(170, 240, 209, 1.00);
$accent-light-75: rgba(170, 240, 209, 0.75);
$accent-light-66: rgba(170, 240, 209, 0.66);
$accent-light-33: rgba(170, 240, 209, 0.33);
$accent-light-17: rgba(170, 240, 209, 0.17);

$link-color: rgb(31, 173, 109);
$link-color-hover: rgba(31, 173, 109, 0.66);
$heading-font: 'Raleway', sans-serif;
$body-font: 'Prata', serif;

@import url('https://fonts.googleapis.com/css?family=Prata|Raleway:400,700');

body.story {
  header nav ul .story {
    background-color: $accent-light-17;
  }
}
body.guest {
  header nav ul .guest {
    background-color: $accent-light-17;
  }
}
body.detail {
  header nav ul .detail {
    background-color: $accent-light-17;
  }
}
body.gifts {
  header nav ul .gifts {
    background-color: $accent-light-17;
  }
}
body.photo {
  header nav ul .photo {
    background-color: $accent-light-17;
  }
}

body {
  background-image: url(/static/images/background.jpg);
  background-attachment: fixed;
  font-family: $body-font;
  margin: 0;

  padding-top: 3em;

  h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    font-weight: 700;
    small {
      font-weight: 400;
    }
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  th {
    font-family: $heading-font;
    font-weight: 400;
    font-size: 0.9em;
    text-align: left;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    
    height: 1em;
    width: 100%;
    z-index: 10001;

    #menu-expander,
    #menu-expander-label {
      display: none;
    }

    nav ul {
      background-color: #ffffff;
      margin: 0;
      .home {
        a {
          padding-left: 1em;
        }
        text-align: left;
        flex-grow: 8;
      }

      display: flex;
      flex-flow: row wrap;

      justify-content: space-around;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
      
      li {
        flex-grow: 1;
        line-height: 2em;
        font-family: $heading-font;
        font-weight: 400;
        font-size: 1.2em;
        
        > * {
          display: block;
          text-decoration: none;
          transition: background-color 1s;

          &:link,
          &:visited,
          &:focus,
          &:hover {
            color: inherit;
          }
          
          &:focus,
          &:hover {
            background-color: $accent-light-33;
          }
        }
      }
      font-weight: normal;
      text-align: center;
    }
  }
  
  main, section {
    margin: 1em auto;
    padding: 1em;
    max-width: 80em;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  section {
    .messages {
      list-style: none;
      font-family: $heading-font;
      font-weight: 400;
      
      li:before {
        content: "⚠️ ";
      }

      li.success:before {
        content: "✅ ";
      }
      
    }
  }
  
  label.error {
    color: $error-color;
  }
  
  address {
    white-space: pre-wrap;
    font-style: normal;
    padding-left: 1em;
  }

  form.auth-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    p:not(:first-child) {
      margin-left: 1em;
    }
  }
  
  form {
    button {
      border: 1px solid transparent;
      border-radius: 0.5em;
      background-color: $accent-light-33;
      padding: 0.75em 1.5em;
    }
    input {
      border: none;
      padding: 0 0.5em;
      height: 2.0em;
    }
  }

  .errorlist {
    list-style-type: none;
    padding-left: 0;
    color: $error-color;

    li:before {
      content: "⚠️ ";
    }
  }

  .replace-on-hover {
    transition: all 1s;
    &:after {
      content: attr(data-original-text);
    }
    &:hover:after {
      content: attr(data-replacement-text);
    }
  }

  a {
    &:link,
    &:visited {
      text-decoration: none;
      color: $link-color;
    }
    &:hover,
    &:active {
      text-decoration: none;
      color: $link-color-hover;
    }
  }
  
  .flex-form {
    p {
      max-width: 27em;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      
      .helptext {
        font-size: 80%;
      }

      input, select {
        width: 22em;
        padding: 0;
        border: none;
      }
    }
  }
}


@media (max-width: 40em) {
  body {
    padding-top: 0;

    header {
      position: static;
      width: 100%;
      height: auto;

      nav {
        #menu-expander:checked ~ ul > :not(#menu-expander-label) {
          display: list-item;
        }

        ul {
          display: block;
          flex-flow: column nowrap;

          #menu-expander-label {
            display: list-item;
          }
          > :not(#menu-expander-label) {
            display: none;
            padding-left: 0.5em;
          }

          .home {
            flex-grow: 0;
          }

          li {
            flex-grow: 0;
            text-align: left;
            flex-grow: 1;
            line-height: 1em;
            font-family: $heading-font;
            font-size: 1.5em;

            > * {
              display: block;
              padding: 0.5em 1em;
            }
          }
        }
      }
    }
  }
}
