{% extends "base.html" %}

{% block content %}
<h1>Where + When</h1>

<p>The ceremony and reception will be taking place on <strong>Sunday 5 May 2019</strong> in Jersey City, New Jersey.<p>

{% if not request.session.confirmation_code %}
<p>To see details about the invite-only events, enter the confirmation code we sent on the
  <a href="/">home</a> page.
</p>
{% else %}
<p>Check back later for more details about the invite-only events including date, time,
  and location as well as travel and lodging advice. Make sure to keep <a href="/guest">your information</a> up
  to date so we can stay in touch with you.</p>
{% comment %}
{% for event in group.events.all %}
<div>
  <h2>{{ event.name }}</h2>
  <p>{{ event.date_time }} at <a href="{{ event.directions_url }}">{{ event.venue }}</a></p>
  {{ event.description|linebreaks }}
</div>
{% endfor %}
{% endcomment %}
{% endif %}

{% endblock content %}
