{% extends "base.html" %}

{% load solo_tags %}

{% load static %}

{% block html_head %}
<style>
.registries {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.registries img {
  width: 225px;
  filter: grayscale(100%);
}
.registries a:hover img {
  filter: grayscale(0%);
}
.registries p {
  text-align: center;
}
</style>
{% endblock %}

{% block content %}

<h1>Gifts</h1>

<h2>Registries</h2>
<p>As with most newlywed couples, we’ll need some things to set up our new life.
We’ve registered at a few places to make it easier for you to find something
which we’ll love.</p>

<div class="registries">

<p><a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=545846003&eventType=Wedding"><img src="{% static "images/BBB.jpg" %}" alt="Bed Bath &amp; Beyond"></a></p>

<p><a href="https://www.cb2.com/gift-registry/michelle-rubel-and-michael-cordover/r5797008"><img src="{% static "images/cb2.png" %}" alt="CB2"></a></p>

<p><a href="http://www.etsy.com/registry/MTY0MDIzOTF8MTE0MzY4OTU/"><img src="{% static "images/etsy.png" %}" alt="etsy"></a></p>

</div>

{% get_solo 'wedding.SiteConfiguration' as site_config %}
{% if request.session.confirmation_code and site_config.physical_address %}
<p>If you want to send us something in the mail, the best address to use is:</p>
<address>{{ site_config.physical_address }}</address>
{% endif %}

<h2>Donate or volunteer</h2>

<p>A wedding isn’t just about two people coming together, it’s about a new family
joining a wider community.</p>

<p>In that spirit, we would be honored if you make a donation in our name or
volunteer with a worth charitable organization. Please let us know when you do,
so we can thank you.</p>

<p>If you don’t have an organization in mind, consider donating to Doctors
  Without Borders/Médecins Sans Frontières.</p>

<div class="registries">
<p><a href="https://donate.doctorswithoutborders.org/onetime.cfm?type=tribute&recipient_first_name=Michelle+%26+Michael&recipient_last_name=Rubel+%26+Cordover&recipient_email=wedding%40curlsandbeard.com"><img src="{% static "images/msf.png" %}" alt="Doctors Without Borders/Médecins Sans Frontières" role="presentation"></a></p>
</div>

{% endblock %}
